[submodule "import/zydis"]
	path = import/zydis
	url = https://github.com/zyantific/zydis
	shallow = true
[submodule "import/glfw"]
	path = import/glfw
	url = https://github.com/glfw/glfw
	shallow = true
[submodule "import/imgui"]
	path = import/imgui
	url = https://github.com/ocornut/imgui
	shallow = true
[submodule "import/asmjit"]
	path = import/asmjit
	url = https://github.com/asmjit/asmjit
	shallow = true
